.PagesWrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}
.PagesWrapper > span {
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
    transition: 0.2s;
    display: block;

}
.PagesWrapper > span:hover {
    color: #ff5e3a;
    transition: 0.2s;
}

.userPhoto {
    width: 50px;
    height: 50px;
}
.userContainer {
    display: flex;
    padding: 10px 0;
}
.userMain {
    min-width: 80px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.userDescription {
    width: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
}
.userText {
    min-width: 400px;
}
.userLoc {
    min-width: 150px;
}
.selectedPage {
    font-weight: bold;
    color: #ff5e3a;
}
