.PagesWrapper {
    display: flex;
    flex-wrap: wrap;
}
.PagesWrapper > span {
    padding-right: 2px;
    padding-left: 2px;
    cursor: pointer;
    transition: 0.2s;
}
.PagesWrapper > span:hover {
    color: #fff;
    transition: 0.2s;
}

.userPhoto {
    width: 50px;
    height: 50px;
}
.userContainer {
    display: flex;
}
.userMain {
    min-width: 80px;
    min-height: 80px;
}
.userDescription {
    width: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
}
.userText {
    min-width: 400px;
}
.userLoc {
    min-width: 150px;
}
.selectedPage {
    font-weight: bold;
}
