.nav {
    grid-area: n;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    color: #515365;
}
.item:hover{
    color: #ff5e3a;
}
.item a {
    color: inherit;
    text-decoration: none;
}
.item a.active {
    color: #ff5e3a;
}