.descriptionBlock {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo {
    width: 200px;
    height: 200px;
    padding: 25px;
}
.backGround {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url('../../../assets/images/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}