.item {
    display: flex;
    flex-direction: column;
    color: #888da8;
    padding: 10px 0;
}

.description {
    display: flex;
    align-items: center;
}
.description img {
    width: 64px;
    height: 64px;
    padding: 5px 0;
}


