.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active{
    color: gold;
}
.dialog {
    display: flex;
    border: 5px solid #edf2f6;
}
.name {
    min-width: 200px;
}
.message {
    min-width: 200px;
}
.messages {
    padding: 10px;
}

.message {

}
